<section class="container">
    <div class="card login-form">
      <div class="card-body">
        <h4 class="card-title login-title">LOGIN</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username">
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password">
            <label for="password">Password</label>
          </div>
          <!-- Alert message show when user enter wrong username / password -->
          <div class="mb-3" *ngIf="isAlertMessage">
            <p class="text-danger">{{ alertMessage }}</p>
          </div>
          <div class="mb-3 d-grid gap-2">
            <!-- Button enable when all fields are filled -->
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
          </div>
        </form>
        <hr>
        <button type="button" [routerLink]="['/register']" class="btn btn-outline-primary">Register</button>
      </div>
    </div>
  </section>